body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mode-select {
    margin-top: 20px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px 2px;
    font-size: 18px;
}
.mode-btn {
    flex-grow: 1;
}

.player {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 450px;
    height: 20px;
    padding: 8px 20px;
    border: 4px solid #5d5d5d;
    background-color: #5d5d5d;
    justify-content: space-between;
    color: aquamarine;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.player-card {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 20px;
}

.deck {
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: #5d5d5d;
    transform-origin: center;
    
}

.deck .block {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.x {
    position: relative;
    width: 94%;
    height: 94%;
    transform: rotate(180deg);
}

.xLeft,
.xRight {
    width: 97%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    height: 5px;
    background-color: #5d5d5d;
}

.xRight {
    transform: rotate(-45deg);
}

.o {
    width: 65%;
    height: 65%;
    border: 5px solid white;
    border-radius: 100%;
    position: relative;
    animation: fadeIn 0.5s forwards;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    z-index: 2;
    animation: scale 0.5s forwards;
}

.button {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    color: aquamarine;
    font-weight: 600;
    background: #000;
    font-size: 32px;
}

.model {
    position: absolute;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: scaleFadeIn 0.5s forwards 0.5s;
    display: none;
}


@keyframes scale {
    0% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 0%;
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes scaleFadeIn {
    0% {
        width: 0;
        height: 0;
        transform: scale(0.1);
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    100% {
        width: 450px;
        height: auto;
        transform: scale(1);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes scaleFadeOut {
    0% {
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; */
    }

    100% {
        transform: scale(0.1);
        opacity: 0;
    }
}